.div-space {
    width: 100%;
    height: 2rem;
    background: var(--container-color);
    margin: 0;
    padding: 0;
    color: var(--primary-text);
}

.article-1 {
    width: 100%;
    height: auto;
    background: var(--container-color);
    margin: 0;
    padding: 0;
    color: var(--primary-text);
}

.article-1 .sub-title {
    height: var(--sub-titles-height);
    display: flex;
    align-items: center;
    padding-left: var(--div-padding-sides);
}

.article-1 .sub-title h2 {
    border-bottom: var(--btn-border-color) 2px solid;
}

.article-1 .desc-container {
    padding: 2rem var(--div-padding-sides);
}


/* Wix bus */

.grid-wix-ecommerce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "area-1-1 area-1-2" "area-2-1 area-2-2" "area-3-1 area-3-2";
    /* display: flex; */
    grid-gap: 1rem;
}

.area-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.area-box p {
    margin-top: 0;
    line-height: 1rem;
    color: var(--secondary-text);
    width: 356px;
}

.area-box a {
    text-decoration: none;
    text-align: center;
    color: var(--primary-text);
}

.grid-protfolio-img {
    width: 356px;
    height: 217px;
    border-radius: 15px;
}

.area-1-1 {
    grid-area: area-1-1;
}

.area-1-1 .grid-protfolio-img {
    background: url("../clients-proj/fireless_website.jpg") center center/cover no-repeat;
}

.area-1-2 {
    grid-area: area-1-2;
}

.area-1-2 .grid-protfolio-img {
    background: url("../clients-proj/ngw_website.jpg") center center/cover no-repeat;
}

.area-2-1 {
    grid-area: area-2-1;
}

.area-2-1 .grid-protfolio-img {
    background: url("../clients-proj/sheviolet_website.jpg") center center/cover no-repeat;
}

.area-2-2 {
    grid-area: area-2-2;
}

.area-2-2 .grid-protfolio-img {
    background: url("../clients-proj/e4a_website.jpg") center center/cover no-repeat;
}

.area-3-1 {
    grid-area: area-3-1;
}

.area-3-1 .grid-protfolio-img {
    background: url("../clients-proj/salonadeen.jpg") center center/cover no-repeat;
}

.area-3-2 {
    grid-area: area-3-2;
}

.area-3-2 .grid-protfolio-img {
    background: url("../clients-proj/hokukilo.jpg") center center/cover no-repeat;
}


/* wix landing */

.grid-wix-landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "left-1 right-1";
    grid-gap: 1rem;
}

.left-1 {
    grid-area: left-1;
}

.right-1 {
    grid-area: right-1;
}

.left-1 .grid-protfolio-img {
    background: url("../clients-proj/photography.jpg") center center/cover no-repeat;
}

.right-1 .grid-protfolio-img {
    background: url("../clients-proj/hsalman.jpg") center center/cover no-repeat;
}


/* wordpress ecommerce */

.grid-wordpress-ecommerce {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "wordpress-ecommerce-1-1";
}

.wordpress-ecommerce-1-1 {
    grid-area: wordpress-ecommerce-1-1;
}

.wordpress-ecommerce-1-1 .grid-protfolio-img {
    background: url("../clients-proj/camerapixel.jpg") center center/cover no-repeat;
}

@media (max-width:500px) {
    .article-1 {
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }
    .grid-wix-ecommerce {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "area-1-1" "area-1-2" "area-2-1" "area-2-2" "area-3-1" "area-3-2";
        grid-gap: 1rem;
    }
    .grid-wix-landing {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "left-1" "right-1";
        grid-gap: 1rem;
    }
    .area-box {
        flex-direction: column;
        /* align-items: center; */
        padding-bottom: 2rem;
    }
    .area-box p {
        line-height: 1rem;
        width: 340px;
    }
    .grid-protfolio-img {
        width: 340px;
        height: 217px;
    }
    .article-1 .sub-title {
        height: var(--sub-titles-height);
        display: flex;
        align-items: center;
        padding-left: var(--div-padding-mobile-sides);
    }
    .article-1 .sub-title h2 {
        font-size: 1rem;
        border-bottom: var(--btn-border-color) 2px solid;
    }
    .article-1 .desc-container {
        padding: var(--div-padding-mobile-sides);
    }
}