:root {
    --container-color: #18191A;
    --seconed-bacground-color: #212324;
    --border-color: #343639;
    --primary-text: #f4f4f4;
    --secondary-text: #9b9b9b;
    --container-width-1200: 1200px;
    --container-width-500: 100%;
    --div-padding-sides: 5rem;
    --div-padding-mobile-sides: 1rem;
    --btn-radius: 20px;
    --sub-titles-height: 50px;
    --btn-border-color: #007CED;
    --mobile-font-size: 0.8rem;
    --menu-speed: 0.75s;
}


/* 
Ebony - brown
#45423D

Black
#181A1B

Ivory - grey
#C5C7CA

Gunmetal Gray - dark grey
#6C6A61
*/

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* background: url("https://source.unsplash.com/1920x1080/?nature,water")no-repeat center center/cover fixed; */
    background: url("../img/background.jpg")no-repeat center center/cover fixed;
    /* backdrop-filter: blur(5px); */
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    width: var(--container-width-1200);
    height: 100%;
    margin: auto;
}


/* Brad Nav Bar */

.menu-wrap {
    position: relative;
    display: flex;
    /* top: 0; */
    /* left: 0; */
    z-index: 2;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* -----------------------addition------------------------ */


/* .menu-wrap .toggler:checked~.hamburger { */


/* position: fixed; */


/* margin-left: 18.8vw; */


/* background-color: transparent; */


/* } */


/* Hamburger Line */

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Hamburger Lines - Top & Bottom  */

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves Lines Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}


/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div::before,
.menu-wrap .toggler:checked+.hamburger>div::after {
    top: 0;
    transform: rotate(90deg);
}


/* rotate on hover when checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}


/* .menu-wrap .toggler:checked {
    overflow: hidden;
} */

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--seconed-bacground-color);
    width: 1200px;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul {
    padding: 0;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5 rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li>a:hover {
    color: var(--secondary-text);
}


/* Nav Bar */


/*

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    background: var(--container-color);
    backdrop-filter: blur(10px);
    justify-content: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: auto;
    font-weight: 500;
}

.navbar ul li a {
    color: var(--secondary-text);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.5s ease-out;
    letter-spacing: 0.1rem;
}

.navbar ul li a:hover {
    color: white;
}

.navbar ul li .current-page {
    color: white;
    border-bottom: white 1px solid;
}

*/


/* Page Title */

.page-title {
    width: 100%;
    height: 60px;
    background: var(--seconed-bacground-color);
    color: var(--primary-text);
    display: flex;
    align-items: center;
    border: solid 2px var(--border-color);
}

.page-title>div {
    width: 100%;
    /* border: solid 2px var(--border-color); */
}

.page-title>div h1 {
    line-height: auto;
    text-align: center;
    z-index: 1;
}


/* Footer */

.footer {
    /* width: 100%; */
    height: 60px;
    text-align: center;
    background: var(--container-color);
    color: var(--primary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    border: solid 2px var(--border-color);
    background: var(--seconed-bacground-color);
}

.footer>div {
    padding: var(--seconed-bacground-color);
}

.footer p {
    margin: 0;
    padding: 0;
}

@media (max-width:500px) {
    body {
        background: var(--container-color);
    }
    /* .menu-wrap .hamburger {
        position: fixed;
    } */
    .page-title {
        font-size: 0.8rem;
    }
    .page-title>div {
        padding: 0.5rem;
    }
    .container {
        padding-top: 0;
        padding-bottom: 0;
        width: auto;
        height: 100%;
        margin: auto;
    }
    /* Nav Bar */
    .navbar {
        display: flex;
        width: 100%;
        height: auto;
        background: var(--container-color);
        backdrop-filter: blur(10px);
        justify-content: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .navbar ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .navbar ul li {
        margin: auto;
        padding: 1rem;
        font-weight: 500;
    }
    .navbar ul li a {
        color: var(--secondary-text);
        font-weight: 600;
        text-decoration: none;
        transition: color 0.5s ease-out;
        letter-spacing: 0.1rem;
    }
    .navbar ul li a:hover {
        color: white;
        /* transition-delay: 0.5s; */
    }
    .navbar ul li .current-page {
        color: white;
        border-bottom: white 1px solid;
    }
    .footer {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: solid 2px var(--border-color);
        background: var(--seconed-bacground-color);
    }
}